.cache/
.vscode/
*.log
*.out
*.txt
bindings/
build/
build-support/
cmake-cache/
contrib/
doc/
LICENSES/
.clang-format
.clang-tidy
.editorconfig
.lock-ns3_darwin_build
AUTHORS
CHANGES.md
./CMAkeLists.txt
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE
ns3
pyproject.toml
README.md
RELEASE_NOTES.md
setup.*
test.py
utils.py
VERSION
dist/
docs/
examples/
src/
test/
tools/
utils/
scratch/nested-subdir/
scratch/subdir/
scratch/scratch-simulator.cc